<!DOCTYPE html>
<html>
<head>
  <title>NYC Air Traffic Control</title>   
  <!--<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>--->
    
    
  <link rel="stylesheet" href="../static/Leaflet/libs/leaflet/leaflet.css" />
  <!--[if lte IE 8]><link rel="stylesheet" href="../libs/leaflet/leaflet.ie.css" /><![endif]-->
  <link rel="stylesheet" href="../static/Leaflet/dist/leaflet.label.css" />

  <script src="../static/Leaflet/libs/leaflet/leaflet-src.js"></script>
  <script src="../static/Leaflet/libs/leaflet/leaflet-src.js"></script>

  <script src="../static/Leaflet/src/Label.js"></script>
  <script src="../static/Leaflet/src/BaseMarkerMethods.js"></script>
  <script src="../static/Leaflet/src/Marker.Label.js"></script>
  <script src="../static/Leaflet/src/CircleMarker.Label.js"></script>
  <script src="../static/Leaflet/src/Path.Label.js"></script>
  <script src="../static/Leaflet/src/Map.Label.js"></script>
  <script src="../static/Leaflet/src/FeatureGroup.Label.js"></script>
    
  <link rel="stylesheet" href="static/css/jquery-ui.css" />
  <script src="static/js/jquery-1.9.1.js"></script>
  <script src="static/js/jquery-ui.js"></script>
  <link href='static/css/sofia.css' rel='stylesheet' type='text/css'>
    
  <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.css" type="text/css" />
  <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.js"></script>
    
    
  <strong>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/lean-slider.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/sample-styles.css') }}">
 </strong>
</head>
<body>
  <header>
    <div class="container">
      <h1 class="logo" style="font-family: 'Ariel'">Air Traffic Control
      </h1>
      <strong><nav>
        <ul class="menu">
          <li><a href="{{ url_for('home') }}">Home</a></li>
        </ul>
      </nav></strong>
    </div>
  </header>


  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>
